# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/.env

# Backend
Backend/venv/
Backend/__pycache__/
Backend/.env
Backend/*.db

# General
.env
.DS_Store

# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/
build/

# Env
.env
